### Data Preprocessing
The datasets can be combined using time and location as common identifiers. The time and location information would not make good features because ..., but they would   
- location: the longitude and latitude
take the longitude and latitude of 
- time: day

generate time and location, if no data, delete that entry

#### Imports

In [2]:
import pandas as pd
import numpy as np

#### Fire Data
The historical wildfire data incorporates entries of fire reports in Alberta from 2006 to 2024. The wildfire data includes information including the year of the fire, longitude and latitude of fire center, general cause of the fire, fire start date, vegetation fuel type, and fire. The wildfire data also incorporates weather data, such as the weather conditions over fire, temperature, relative humidity, wind direction, wind speed

In [74]:
wildfire_file = "fp-historical-wildfire-data-2006-2024.csv"

wildfire_df = pd.read_csv(wildfire_file)
wildfire_df = wildfire_df[['YEAR','LATITUDE','LONGITUDE','GENERAL_CAUSE', 'FIRE_START_DATE', 'FUEL_TYPE', 'FIRST_EX_DATE']]
wildfire_df = wildfire_df.dropna(subset=['LATITUDE', 'LONGITUDE', 'FIRE_START_DATE'])
display(wildfire_df) # 26551 rows
wildfire_fuel_df = wildfire_df.dropna(subset=['FUEL_TYPE'])
display(wildfire_fuel_df)

loc_time_df = wildfire_fuel_df[['LATITUDE', 'LONGITUDE', 'FIRE_START_DATE', 'FUEL_TYPE']]
# save to csv
loc_time_df.to_csv("wildfire_location_time_fuel.csv", index=False)

# round longitude and latitude to 1 decimal places
loc_time_df['LATITUDE_round'] = loc_time_df['LATITUDE'].round(1)
loc_time_df['LONGITUDE_round'] = loc_time_df['LONGITUDE'].round(1)
# check number of unique pairs of latitude and longitude
unique_pairs = loc_time_df[['LATITUDE_round', 'LONGITUDE_round']].drop_duplicates()
print("entries",unique_pairs.shape[0]) # 26551

# filter for rows where 'Year' is 2024 using 'YEAR' column
time2024_df = wildfire_fuel_df[wildfire_fuel_df['YEAR'] == 2024]
display(time2024_df) # 0 rows
loc_time2024_df = time2024_df[['LATITUDE', 'LONGITUDE', 'FIRE_START_DATE', 'FUEL_TYPE']]
loc_time2024_df.to_csv("wildfire_location_time2024_fuel.csv", index=False)
# create a dataframe with 3 columns: 'location' = 'Alberta', longitude, latitude
api_df = loc_time_df[['LATITUDE', 'LONGITUDE']]
api_df['location'] = 'Alberta'
# find the entry where 'FIRE_START_DATE' starts with 0201 and delete that row
# loc_time_df = loc_time_df[~loc_time_df['FIRE_START_DATE'].str.startswith('0201-')]
# loc_time_df = loc_time_df[~loc_time_df['FIRE_START_DATE'].str.startswith('1201-')]
# loc_time_df['FIRE_START_DATE'] = loc_time_df['FIRE_START_DATE'].str.replace('0201-', '2011-', regex=False)
# loc_time_df['FIRE_START_DATE'] = loc_time_df['FIRE_START_DATE'].str.replace('1201-', '2011-', regex=False)
# # loc_time_df
# # change FIRE_START_DATE to datetime in UTC hour
# loc_time_df['FIRE_START_DATE'] = pd.to_datetime(loc_time_df['FIRE_START_DATE'], format='%Y-%m-%d %H:%M:%S')
# check the year is between 2006 and 2024, drop the rest
# loc_time_df = loc_time_df[(loc_time_df['FIRE_START_DATE'].dt.year >= 2006) & (loc_time_df['FIRE_START_DATE'].dt.year <= 2024)]
# loc_time_df['FIRE_START_DATE'] = loc_time_df['FIRE_START_DATE'].dt.tz_localize('UTC')
# display(loc_time_df) # 26551 rows

# weather_file = "StationInventoryEN.csv"
# weather_df = pd.read_csv(weather_file)
# weather_df = weather_df[weather_df["Province"].str.upper() == "ALBERTA"]

,YEAR,LATITUDE,LONGITUDE,GENERAL_CAUSE,FIRE_START_DATE,FUEL_TYPE,FIRST_EX_DATE
0,2006,56.249956,-117.181960,Resident,2006-04-02 12:00:00,O1a,2006-04-03 10:20:00
1,2006,53.606367,-115.915733,Incendiary,2006-04-03 12:10:00,O1a,2006-04-03 14:00:00
2,2006,53.610933,-115.594267,Incendiary,2006-04-03 12:15:00,O1a,2006-04-03 15:00:00
3,2006,53.608867,-115.609467,Incendiary,2006-04-03 12:10:00,O1b,2006-04-03 15:05:00
4,2006,56.249956,-117.050249,Other Industry,2006-04-03 17:00:00,NaN,2006-04-05 10:18:00
...,...,...,...,...,...,...,...
26546,2024,58.858000,-114.494367,Lightning,2024-06-28 18:32:00,S1,2024-09-29 17:00:00
26547,2024,54.685967,-111.874267,Incendiary,2024-08-31 08:00:00,NaN,2024-08-31 12:20:00
26548,2024,58.669333,-119.159033,Lightning,2024-07-03 11:00:00,C1,2024-09-11 13:48:57
26549,2024,58.505333,-115.131833,Resident,2024-10-06 10:00:00,M2,2024-10-06 16:00:00
26550,2024,54.079033,-115.553183,Under Investigation,2024-10-06 18:10:00,O1b,2024-10-07 10:00:00

,YEAR,LATITUDE,LONGITUDE,GENERAL_CAUSE,FIRE_START_DATE,FUEL_TYPE,FIRST_EX_DATE
0,2006,56.249956,-117.181960,Resident,2006-04-02 12:00:00,O1a,2006-04-03 10:20:00
1,2006,53.606367,-115.915733,Incendiary,2006-04-03 12:10:00,O1a,2006-04-03 14:00:00
2,2006,53.610933,-115.594267,Incendiary,2006-04-03 12:15:00,O1a,2006-04-03 15:00:00
3,2006,53.608867,-115.609467,Incendiary,2006-04-03 12:10:00,O1b,2006-04-03 15:05:00
5,2006,51.152933,-115.034600,Resident,2006-04-02 14:25:00,O1b,2006-04-03 18:00:00
...,...,...,...,...,...,...,...
26545,2024,54.734902,-115.035950,Lightning,2024-07-10 13:12:00,M2,2024-07-13 13:53:00
26546,2024,58.858000,-114.494367,Lightning,2024-06-28 18:32:00,S1,2024-09-29 17:00:00
26548,2024,58.669333,-119.159033,Lightning,2024-07-03 11:00:00,C1,2024-09-11 13:48:57
26549,2024,58.505333,-115.131833,Resident,2024-10-06 10:00:00,M2,2024-10-06 16:00:00
26550,2024,54.079033,-115.553183,Under Investigation,2024-10-06 18:10:00,O1b,2024-10-07 10:00:00

entries 4449

C:\Users\hlllu\AppData\Local\Temp\ipykernel_222344\2596901734.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loc_time_df['LATITUDE_round'] = loc_time_df['LATITUDE'].round(1)
C:\Users\hlllu\AppData\Local\Temp\ipykernel_222344\2596901734.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loc_time_df['LONGITUDE_round'] = loc_time_df['LONGITUDE'].round(1)

,YEAR,LATITUDE,LONGITUDE,GENERAL_CAUSE,FIRE_START_DATE,FUEL_TYPE,FIRST_EX_DATE
24200,2024,55.199417,-112.400533,Agriculture Industry,2024-04-23 15:36:00,O1a,2024-04-23 17:15:00
24205,2024,56.766883,-111.724250,Recreation,2024-05-10 19:00:00,S1,2024-05-11 19:44:00
24206,2024,51.961340,-115.340712,Recreation,2024-05-20 15:33:00,C1,2024-05-20 15:45:00
24207,2024,58.712345,-111.188683,Government,2024-05-23 16:00:00,M2,2024-05-29 16:51:01
24208,2024,55.645667,-116.067867,Undetermined,2024-05-24 11:10:00,O1a,2024-05-24 12:37:00
...,...,...,...,...,...,...,...
26545,2024,54.734902,-115.035950,Lightning,2024-07-10 13:12:00,M2,2024-07-13 13:53:00
26546,2024,58.858000,-114.494367,Lightning,2024-06-28 18:32:00,S1,2024-09-29 17:00:00
26548,2024,58.669333,-119.159033,Lightning,2024-07-03 11:00:00,C1,2024-09-11 13:48:57
26549,2024,58.505333,-115.131833,Resident,2024-10-06 10:00:00,M2,2024-10-06 16:00:00
26550,2024,54.079033,-115.553183,Under Investigation,2024-10-06 18:10:00,O1b,2024-10-07 10:00:00

C:\Users\hlllu\AppData\Local\Temp\ipykernel_222344\2596901734.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  api_df['location'] = 'Alberta'

##### Generating "no fire" data  
For a classification prediction problem, we need training data that are labeled as "fire" and "no fire"

In [75]:
import bisect
from datetime import timedelta

# Time range
start_time = pd.to_datetime("2024-01-01")
end_time = pd.to_datetime("2024-12-31")
total_seconds = int((end_time - start_time).total_seconds())

def generate_random_times(n, existing_times):
    existing_times = sorted(existing_times)
    generated = []

    # Convert to list of timestamps in seconds since epoch for fast math
    existing_seconds = [pd.to_datetime(t).timestamp() for t in existing_times]
    generated_seconds = []

    attempts = 0
    max_attempts = 5000
    min_separation = 86400  # 24 hours in seconds

    while len(generated_seconds) < n and attempts < max_attempts:
        candidate = start_time + timedelta(seconds=np.random.randint(0, total_seconds))
        candidate_sec = candidate.timestamp()

        # Use bisect to insert into sorted list
        all_times = sorted(existing_seconds + generated_seconds)
        idx = bisect.bisect_left(all_times, candidate_sec)

        too_close = False
        if idx > 0 and abs(candidate_sec - all_times[idx - 1]) < min_separation:
            too_close = True
        elif idx < len(all_times) and abs(candidate_sec - all_times[idx % len(all_times)]) < min_separation:
            too_close = True

        if not too_close:
            generated.append(candidate)
            generated_seconds.append(candidate_sec)

        attempts += 1

    if len(generated_seconds) < n:
        print(f"Warning: Only generated {len(generated_seconds)} out of {n} due to 24-hour proximity rule.")

    return generated

In [73]:
new_rows = []
loc_time_df = pd.read_csv("wildfire_location_time_fuel.csv")
loc_time_df['LATITUDE_round'] = loc_time_df['LATITUDE'].round(1)
loc_time_df['LONGITUDE_round'] = loc_time_df['LONGITUDE'].round(1)
for (lat, lon), time_df in loc_time_df.groupby(['LATITUDE_round', 'LONGITUDE_round']):
    count = len(time_df)
    if count >= 10:
        num_to_generate = 1
    else:
        num_to_generate = 10 - count

    new_times = generate_random_times(num_to_generate, time_df['FIRE_START_DATE'].tolist())
    for t in new_times:
        # append latitude and longitude of the original entry
        new_rows.append({
            'LATITUDE': time_df['LATITUDE'].values[0],
            'LONGITUDE': time_df['LONGITUDE'].values[0],
            'FIRE_START_DATE': t,
            'FUEL_TYPE': time_df['FUEL_TYPE'].values[0]
        })

# Create DataFrame of new entries
df_new = pd.DataFrame(new_rows)
df_new.to_csv("no_fires_augmented_fuel1.csv", index=False)

# Combine with original data
df_augmented = pd.concat([loc_time_df[['LATITUDE', 'LONGITUDE', 'FIRE_START_DATE', 'FUEL_TYPE']], df_new], ignore_index=True)
display(df_augmented) # 26551 rows + new rows
df_augmented.to_csv("fires_no_fires_augmented_fuel1.csv", index=False)

        LATITUDE   LONGITUDE      FIRE_START_DATE FUEL_TYPE
0      56.249956 -117.181960  2006-04-02 12:00:00       O1a
1      53.606367 -115.915733  2006-04-03 12:10:00       O1a
2      53.610933 -115.594267  2006-04-03 12:15:00       O1a
3      53.608867 -115.609467  2006-04-03 12:10:00       O1b
4      51.152933 -115.034600  2006-04-02 14:25:00       O1b
...          ...         ...                  ...       ...
48177  59.971350 -110.824367  2024-05-02 10:34:48        C4
48178  59.971350 -110.824367  2024-02-10 13:30:29        C4
48179  59.971350 -110.824367  2024-08-03 05:42:00        C4
48180  59.971350 -110.824367  2024-03-30 16:19:52        C4
48181  59.971350 -110.824367  2024-09-28 20:50:09        C4

[48182 rows x 4 columns]

In [77]:
fire_df = loc_time_df[['LATITUDE', 'LONGITUDE', 'FIRE_START_DATE', 'FUEL_TYPE']]
fire_df['Fire'] = True
fire_df.to_csv("wildfire.csv", index=False)

C:\Users\hlllu\AppData\Local\Temp\ipykernel_222344\1066430507.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fire_df['Fire'] = True

In [ ]:
wildfire_file = "fp-historical-wildfire-data-2006-2024.csv"

wildfire_df = pd.read_csv(wildfire_file)

#### Lightning

In [ ]:
# DEPRICATED!!! DO NOT USE THIS FUNCTION!!! DO NOT INCLUDE THIS IN FINAL REPORT!!!
def add_lightning_info_to_weather(weather_df, lightning_df,
                                  lightning_lat_col="CENTERLAT", lightning_lon_col="CENTERLON",
                                  lightning_date_col="ZDAY",
                                  weather_lat_col="LATITUDE", weather_lon_col="LONGITUDE",
                                  weather_date_col="START_DATE"):
    # Work on copies to avoid modifying originals
    weather_df = weather_df.copy()
    lightning_df = lightning_df.copy()

    # Parse dates in both DataFrames
    lightning_df["Date"] = pd.to_datetime(lightning_df[lightning_date_col], format="%Y%m%d").dt.date
    weather_df["ParsedDate"] = pd.to_datetime(weather_df[weather_date_col], format="%Y-%m-%d %H:%M:%S", errors="coerce").dt.date
    weather_df = weather_df[weather_df["ParsedDate"].notna()]

    ## --- 0.1Â° Match (Exact with rounding) ---
    # Create rounded coordinates for lightning data
    lightning_df["lat_r"] = lightning_df[lightning_lat_col].round(1)
    lightning_df["lon_r"] = lightning_df[lightning_lon_col].round(1)
    # Aggregate TOTAL_COUNT by Date and rounded coordinates
    lightning_agg = (lightning_df
                     .groupby(["Date", "lat_r", "lon_r"])["TOTAL_COUNT"]
                     .sum()
                     .reset_index())

    # Create rounded coordinates for weather data
    weather_df["lat_r"] = weather_df[weather_lat_col].round(1)
    weather_df["lon_r"] = weather_df[weather_lon_col].round(1)

    # Merge the aggregated lightning counts with weather data on date and rounded lat/lon
    weather_df = weather_df.merge(lightning_agg,
                                  left_on=["ParsedDate", "lat_r", "lon_r"],
                                  right_on=["Date", "lat_r", "lon_r"],
                                  how="left")
    # Fill missing counts with 0
    weather_df["Lightning_Count_0.1deg"] = weather_df["TOTAL_COUNT"].fillna(0)

    # # Optionally, drop intermediate columns
    weather_df.drop(columns=["Date", "lat_r", "lon_r"], inplace=True, errors="ignore")

    return weather_df

In [ ]:
merged_df = pd.read_csv("./OpenWeatherData/weather_fire_merged_4.csv")
lightning_df = pd.read_csv('./LightningData/combined_alberta_lightning.csv')


fire_lightning_df = add_lightning_info_to_weather(merged_df, lightning_df)
display(fire_lightning_df)
print(fire_lightning_df['Lightning_Count_0.1deg'].value_counts())

#### Population Density

In [ ]:
from opencage.geocoder import OpenCageGeocode
import time

# Replace this with your actual OpenCage API key
api_key = '99962603c3f24250a5dff02b0384a4f3'
geocoder = OpenCageGeocode(api_key)

# Example DataFrame
# df = pd.DataFrame({
#     'latitude': [53.5461, 51.0447],  # Edmonton, Calgary
#     'longitude': [-113.4938, -114.0719]
# })
# df = pd.read_csv("wildfire_location_time_fuel.csv")
df = pd.DataFrame({
    'latitude': [53.2587, 51.0447],  # Edmonton, Calgary
    'longitude': [-113.4938, -114.0719]
})

# Function to reverse geocode
def get_city_name(lat, lon):
    try:
        result = geocoder.reverse_geocode(lat, lon)
        if result and 'components' in result[0]:
            components = result[0]['components']
            return components.get('city') or components.get('town') or components.get('village') or components.get('municipality')
    except Exception as e:
        print(f"Error for ({lat}, {lon}): {e}")
    return None

# Add a delay to avoid hitting the API rate limit
city_names = []
for idx, row in df.iterrows():
    city = get_city_name(row['latitude'], row['longitude'])
    city_names.append(city)
    time.sleep(1)  # Respect OpenCage free tier rate limit

df['city_name'] = city_names

print(df)
# df.to_csv("wildfire_location_time_fuel_city.csv", index=False)

   latitude  longitude city_name
0   53.5461  -113.4938  Edmonton
1   51.0447  -114.0719   Calgary

population density of nearest urban center and distance to it

In [ ]:
cities_df = pd.read_csv("./PopulationData/canadian_cities_with_coords.csv")
display(cities_df) # 119 rows

from scipy.spatial import cKDTree

urban_coords = cities_df[['latitude', 'longitude']].to_numpy()
urban_tree = cKDTree(urban_coords)

# Compute nearest urban center
def get_distance_to_urban(lat, lon):
    dist, idx = urban_tree.query([lat, lon], k=1)
    # also return the population density, dwelling count, and urban city type of the nearest urban center using its idx
    urban_density = cities_df.iloc[idx]['Population density per square kilometre, 2021']
    dwellings = cities_df.iloc[idx]['Total private dwellings, 2021']
    urban_type = cities_df.iloc[idx]['Geographic area type']
    # Geographic area types include 'Small population centre', 'Medium population centre', and 'Large urban population centre'
    # these labels are independent of the population density, for example the population density in Calgary (Large) is smaller than the population density in Airdrie (medium) and Chestermere (small)

    return dist, urban_type, urban_density, dwellings  # in degrees, multiply by ~111 km/deg for rough estimate

# Apply to your df
wildfire_df[['dist_to_urban_deg', 'urban_type', 'urban_population_density', 'urban_dwelling']] = pd.DataFrame(
    wildfire_df.apply(lambda row: get_distance_to_urban(row['LATITUDE'], row['LONGITUDE']), axis=1).tolist(),
    index=wildfire_df.index
)
wildfire_df['dist_to_urban_km'] = wildfire_df['dist_to_urban_deg'] * 111  # rough km conversion

display(wildfire_df)

,Geographic name,Geographic area type,Province or territory abbreviation,"Population, 2021","Population, 2016","Population percentage change, 2016 to 2021","Total private dwellings, 2021","Private dwellings occupied by usual residents, 2021","Land area in square kilometres, 2021","Population density per square kilometre, 2021",latitude,longitude
0,Airdrie,Medium population centre,Alta.,"73,578","61,082",20.5,"26,853","26,124",33.03,"2,227.30",51.285970,-114.010620
1,Alberta Beach - Val Quentin,Small population centre,Alta.,"1,103","1,327r",-16.9,"1,051",528,1.69,651.2,53.677947,-114.352253
2,Athabasca,Small population centre,Alta.,"1,181","1,250",-5.5,602,521,2.03,581.1,54.721454,-113.285794
3,Banff,Small population centre,Alta.,"8,305","7,851",5.8,"3,287","2,930",4.08,"2,033.80",51.177778,-115.568250
4,Barrhead,Small population centre,Alta.,"4,055","4,387",-7.6,"1,874","1,731",4.73,857.4,54.126236,-114.404412
...,...,...,...,...,...,...,...,...,...,...,...,...
114,Wembley,Small population centre,Alta.,"1,432","1,516",-5.5,616,550,2.20,651.5,55.153118,-119.143046
115,Westlake,Small population centre,Alta.,"2,040","1,363",49.7,654,635,3.27,624.7,52.256494,-113.843319
116,Westlock,Small population centre,Alta.,"4,820","4,957r",-2.8,"2,333","2,104",5.26,915.9,54.152524,-113.851990
117,Wetaskiwin,Small population centre,Alta.,"12,438","12,491r",-0.4,"5,584","5,136",12.11,"1,026.90",52.968492,-113.367920
118,Whitecourt,Small population centre,Alta.,"9,195","9,515",-3.4,"4,013","3,578",10.22,899.3,54.142457,-115.684650

,YEAR,LATITUDE,LONGITUDE,GENERAL_CAUSE,FIRE_START_DATE,FUEL_TYPE,FIRST_EX_DATE,dist_to_urban_deg,dist_to_urban_km,population_density,urban_type,urban_population_density,urban_dwelling
0,2006,56.249956,-117.181960,Resident,2006-04-02 12:00:00,O1a,2006-04-03 10:20:00,0.110326,12.246234,843.4,Small population centre,843.4,"2,046"
1,2006,53.606367,-115.915733,Incendiary,2006-04-03 12:10:00,O1a,2006-04-03 14:00:00,0.527513,58.553889,762.9,Small population centre,762.9,"3,684"
2,2006,53.610933,-115.594267,Incendiary,2006-04-03 12:15:00,O1a,2006-04-03 15:00:00,0.539154,59.846126,899.3,Small population centre,899.3,"4,013"
3,2006,53.608867,-115.609467,Incendiary,2006-04-03 12:10:00,O1b,2006-04-03 15:05:00,0.538861,59.813579,899.3,Small population centre,899.3,"4,013"
4,2006,56.249956,-117.050249,Other Industry,2006-04-03 17:00:00,NaN,2006-04-05 10:18:00,0.241382,26.793419,843.4,Small population centre,843.4,"2,046"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26546,2024,58.858000,-114.494367,Lightning,2024-06-28 18:32:00,S1,2024-09-29 17:00:00,2.014960,223.660596,963.3,Small population centre,963.3,"1,125"
26547,2024,54.685967,-111.874267,Incendiary,2024-08-31 08:00:00,NaN,2024-08-31 12:20:00,0.133997,14.873691,726.2,Small population centre,726.2,991
26548,2024,58.669333,-119.159033,Lightning,2024-07-03 11:00:00,C1,2024-09-11 13:48:57,2.031445,225.490357,"1,289.30",Small population centre,"1,289.30","1,271"
26549,2024,58.505333,-115.131833,Resident,2024-10-06 10:00:00,M2,2024-10-06 16:00:00,1.302392,144.565492,963.3,Small population centre,963.3,"1,125"
26550,2024,54.079033,-115.553183,Under Investigation,2024-10-06 18:10:00,O1b,2024-10-07 10:00:00,0.145967,16.202324,899.3,Small population centre,899.3,"4,013"

In [ ]:
# depricated!!
from opencage.geocoder import OpenCageGeocode
import time

# Replace this with your actual OpenCage API key
api_key = '99962603c3f24250a5dff02b0384a4f3'
geocoder = OpenCageGeocode(api_key)

# Example DataFrame
df = pd.DataFrame({
    'latitude': [53.5461, 51.0447],  # Edmonton, Calgary
    'longitude': [-113.4938, -114.0719]
})

# Function to reverse geocode
def get_city_name(lat, lon):
    try:
        result = geocoder.reverse_geocode(lat, lon)
        if result and 'components' in result[0]:
            components = result[0]['components']
            return components.get('city') or components.get('town') or components.get('village') or components.get('municipality')
    except Exception as e:
        print(f"Error for ({lat}, {lon}): {e}")
    return None

# Add a delay to avoid hitting the API rate limit
city_names = []
for idx, row in df.iterrows():
    city = get_city_name(row['latitude'], row['longitude'])
    city_names.append(city)
    time.sleep(1)  # Respect OpenCage free tier rate limit

df['city_name'] = city_names

print(df)
df.to_csv("wildfire_location_time_fuel_city.csv", index=False)